[Unit]
Description=Gunicorn instance to serve form-google Flask app
After=network.target

[Service]
User=fabricioalmeida
Group=www-data
WorkingDirectory=/var/www/estevaoalmeida.com.br/form-google

# Configuração do ambiente
Environment="PATH=/var/www/estevaoalmeida.com.br/form-google/venv/bin"
Environment="FLASK_APP=application.py"
Environment="FLASK_ENV=production"
Environment="FLASK_CONFIG=production"
Environment="PYTHONPATH=/var/www/estevaoalmeida.com.br/form-google"

# Carregar variáveis de ambiente do arquivo .env
EnvironmentFile=/var/www/estevaoalmeida.com.br/form-google/.env

# Comando para iniciar o Gunicorn
ExecStart=/var/www/estevaoalmeida.com.br/form-google/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/var/www/estevaoalmeida.com.br/form-google/run/gunicorn.sock \
    --timeout 120 \
    --worker-class gthread \
    --threads 2 \
    --log-level=info \
    application:app

# Reiniciar o serviço em caso de falha
Restart=always
RestartSec=5s

# Configuração de limites
LimitNOFILE=65535
LimitNPROC=128

[Install]
WantedBy=multi-user.target
