# Dependências de produção
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Limiter
Flask-Talisman
Flask-WTF
Flask-Login
SQLAlchemy
gunicorn
celery
requests
psycopg2-binary
python-dotenv
google-api-python-client
oauth2client
python-dateutil

# Dependências de desenvolvimento e teste
pytest
pytest-cov
black==25.1.0
click==8.2.1
iniconfig==2.1.0
isort==6.0.1
mypy==1.16.1
mypy_extensions==1.1.0
nodeenv==1.9.1
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
Pygments==2.19.1
pyright==1.1.402
ruff==0.11.13
typing_extensions==4.14.0
flake8
types-requests
types-python-dateutil
