{% macro render_field(field, class='form-control', placeholder=None, type=None,
item_class='mb-3') %}
<div class="{{ item_class }}">
  {{ field.label(class='form-label') }} {% if type %} {{ field(class=class,
  placeholder=placeholder or field.label.text, type=type, **kwargs) }} {% else
  %} {{ field(class=class, placeholder=placeholder or field.label.text,
  **kwargs) }} {% endif %} {% if field.errors %}
  <div class="invalid-feedback d-block">
    {% for error in field.errors %}
    <span>{{ error }}</span><br />
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endmacro %} {% macro render_radio_field(field, class='form-check-input',
item_class='mb-3', label_class='form-check-label', container_class='form-check
form-check-inline') %}
<div class="{{ item_class }}">
  {{ field.label(class='form-label d-block mb-2') }} {% for subfield in field %}
  <div class="{{ container_class }}">
    {{ subfield(class=class, **kwargs) }} {{ subfield.label(class=label_class)
    }}
  </div>
  {% endfor %} {% if field.errors %}
  <div class="invalid-feedback d-block">
    {% for error in field.errors %}
    <span>{{ error }}</span><br />
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endmacro %} {% macro render_submit_button(field, class='btn btn-primary') %}
{{ field(class=class, **kwargs) }} {% endmacro %}
