{% extends "_base_peticionador.html" %} {% from "_form_macros.html" import
render_field %} {% block title %}{{ title }}{% endblock %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>{{ title }}</h2>
      <hr />
      <form method="POST" action="{{ form_action }}" novalidate>
        {{ form.hidden_tag() }} {# CSRF token #} {{ render_field(form.nome,
        class='form-control', placeholder='Nome completo da autoridade') }} {{
        render_field(form.cnpj, class='form-control',
        placeholder='00.000.000/0000-00') }} {{ render_field(form.logradouro,
        class='form-control', placeholder='Ex: Rua, Avenida, Praça...') }} {{
        render_field(form.numero, class='form-control', placeholder='Ex: 123,
        S/N') }} {{ render_field(form.complemento, class='form-control',
        placeholder='Ex: Bloco A, Apto 101') }} {{ render_field(form.cidade,
        class='form-control', placeholder='Cidade da autoridade') }} {{
        render_field(form.estado, class='form-control', placeholder='UF (ex:
        SP)') }} {{ render_field(form.cep, class='form-control',
        placeholder='00000-000') }}

        <div class="mt-4">
          {{ form.submit(class='btn btn-primary') }}
          <a
            href="{{ url_for('peticionador.listar_autoridades') }}"
            class="btn btn-outline-secondary ms-2"
            >Cancelar</a
          >
        </div>
      </form>
    </div>
  </div>
</div>

{% block scripts_extra %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    var cepInput = document.getElementById('cep');
    if (cepInput) {
      cepInput.addEventListener('input', function (e) {
        var value = e.target.value.replace(/\D/g, ''); // Remove todos os não dígitos
        var formattedValue = '';

        if (value.length > 5) {
          formattedValue = value.substring(0, 5) + '-' + value.substring(5, 8);
        } else {
          formattedValue = value;
        }
        e.target.value = formattedValue;
      });
      // Define o tamanho máximo do campo para 9 caracteres (00000-000)
      cepInput.setAttribute('maxlength', '9');
    }
  });
</script>
{% endblock %} {% endblock %}
